.subscribe-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;


  .subscribe-text {
    font-family: OpenSans, sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #31363d;
  }

  .subscribe-info {
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    color: #31363d;
    line-height: 1.36;
    text-align: left;
  }

  .input-form {
    display: flex;

    .input-email__text {
      margin-right: 30px;
      width: 270px;
      height: 43px;
      background-color: #d8d8d8;
      opacity: 0.2;
      border-radius: 22px;
      outline: none;
      border: none;
      padding-left: 15px;
      font-family: SFProText, sans-serif;
      font-size: 14px;
      font-weight: 600;
    }

    .subscribe-button {
      width: 300px;
      height: 42px;
      border: none;
      cursor: pointer;
      border-radius: 100px;
      background-color: #33333a;
      font-weight: bold;
      letter-spacing: 1.4px;
      line-height: 42px;
      text-align: center;
      color: #ffffff;
      outline: none;
    }
  }
}