.products-carousel {
  margin: 0 auto;
}

.slider-wrapper.axis-horizontal {
  width: 30%;
}

.slider {
  display: flex;
  align-items: center;
  width: 50%;
}

.carousel .slide {
  background: #fff;
}

.slide.selected {
  position: relative;
}

.price {
  position: absolute;
  left: 30px;
  top: 30px;
  color:  #33333a;
  font-family: OpenSans, sans-serif;
  font-size: 24px;
  border: 1px solid #33333a;
  border-radius: 500px;
  padding: 40px 10px;
}

.carousel-item img {
  height: auto;
}

.carousel .slide .legend {
  background: #33333a;
  border-radius: 100px;
  font-family: OpenSans, sans-serif;
  letter-spacing: 1.4px;
}

.carousel .control-dots .dot {
  background: #33333a;
}
