@import "../../scss/reset.scss";
@import "../../scss/resources/resources.scss";

.products-carousel {
  margin: 0 auto;
  text-align: center;
}

.carousel .slide {
  background: #fff;
}

.slide.selected {
  position: relative;
}

.carousel-item {
  img {
    height: auto;
  }

  .price {
    position: absolute;
    left: 30px;
    top: 30px;
    color: $black;
    font-size: 24px;
    border: 1px solid $black;
    border-radius: 500px;
    padding: 40px 10px;
  }
}

.carousel .slide {

  .info {
    letter-spacing: 2px;
    color: $black;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 70%;
    width: 30%;
    text-align: left;
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 200px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid $black;
    background: transparent;
    letter-spacing: 1.4px;
    font-size: 18px;
    color: $black;

    &:hover {
      cursor: pointer;
      color: $red;
      border-color: $red;
      transition: all 0.3s ease;
    }
  }
}

