.products-carousel {
  margin: 0 auto;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel .slide {
  background: #fff;
}

.carousel-item img {
  height: auto;
}

.carousel .slide .legend {
  background: #33333a;
  border-radius: 100px;
}

.carousel .control-dots .dot {
  background: #33333a;
}

.carousel.carousel-slider .control-arrow {
  background: #33333a;
  opacity: 0.5;
  height: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel.carousel-slider .control-arrow:hover {
  background: #33333a;
  opacity: 1;
}

.control-prev {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.control-next {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.carousel.carousel-slider .control-arrow :before {
  margin-left: 10px;
  margin-right: 2px;
}
