@import '../../../scss/resources/resources';

.btn-add-to-cart {
  @include clear-default-inputs-style;

  padding: 15px;
  min-width: 270px;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
