.admin-nav-menu-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.admin-nav-menu-block {
  width: 33.3%;
  min-height: 50vh;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.admin-nav-menu-block-heading {
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
}

.admin-nav-menu-block-content {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.admin-nav-menu-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.admin-nav-menu-item-left-radio {
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
}

.admin-nav-menu-item-left-label {
  cursor: pointer;
}

.admin-nav-menu-item-left-label:active,
.admin-nav-menu-item-left-label--selected {
  color: #ff6008;
  font-weight: 600;
}

.onoffswitch {
  position: relative;
  width: 56px;
  user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;

  &::before,
  &::after {
    display: block;
    float: left;
    width: 50%;
    height: 22px;
    padding: 0;
    line-height: 22px;
    font-size: 12px;
    color: black;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }

  &::before {
    content: "ON";
    padding-left: 6px;
    background-color: #3ac5c9;
    color: #fff;
  }

  &::after {
    content: "OFF";
    padding-right: 6px;
    background-color: #e85764;
    color: #fff;
    text-align: right;
  }
}

.onoffswitch-switch {
  display: block;
  width: 15px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  border: 2px solid #fff;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0;
}

.add-new-item-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.add-new-item-input {
  width: 70%;
  height: 20px;
  padding: 5px;
  outline: 1px solid #3ac5c9;
}

.add-new-item-save {
  width: 20%;
  border: 1px solid #1faa00;
  border-radius: 5px;
  background-color: #7ecb20;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    background-color: #1faa00;
  }
}

.error-message {
  color: #d50000;
  font-size: 12px;
  padding: 5px;
}

.admin-nav-menu-actions {
  display: flex;
  justify-content: flex-end;
}

.admin-nav-menu-button {
  height: 50px;
  width: 150px;
  border: none;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
}

.admin-nav-menu-reset {
  border: 1px solid #655f5f;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background-color: #655f5f;
    color: #ffffff;
    border-color: #000000;
  }
}

.admin-nav-menu-reset:focus {
  background-color: #9b9090;
}

.admin-nav-menu-submit {
  border: 1px solid #1faa00;
  background-color: #7ecb20;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    background-color: #1faa00;
  }
}

.admin-nav-menu-submit:focus {
  background-color: #3af300;
}

.nav-menu-result-message {
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  border: 1px dashed #888888;
}
