.main-right {
  display: flex;
  justify-content: flex-end;

  /* max-width: 450px; */
  width: 60%;
}

.main-search {
  max-width: 224px;
  width: 100%;
  opacity: 0.2;
  border-radius: 16px;
  background-color: #d8d8d8;
  padding: 4px 0 4px 19px;
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #33333a;
  border: none;
  outline: none;
  margin-right: 25px;
}

.location-person,
.account-person {
  margin-right: 21px;
}

.main-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-top-login-btn {
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 3px;
}

.header-dropdown-login-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 316px;
  z-index: 1;
}
