.main-right {
  display: flex;
  justify-content: flex-end;

  /* max-width: 450px; */
  width: 60%;
}

.location-person,
.account-person {
  margin-right: 21px;
}

.main-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-top-login-btn {
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 3px;
}

.header-dropdown-login-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 316px;
  z-index: 1;
}

.user-info-mini {
  display: flex;
  align-items: center;
}

.user-avatar-mini {
  display: inline-block;
}

.d-none {
  display: none;
}

.admin-dashboard-link {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;

  &:hover {
    color: #ff6008;
  }
}

.fa-cogs {
  font-size: 25px;
}
