@import "../../../../scss/resources/resources.scss";

.category-filter-color {
  padding: 32px 0;
  margin-top: 30px;

  .filter-title {
    margin-bottom: 0;
  }

  .filter-color-panel {
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-right: 24px;
      margin-bottom: 14px;
    }

    &-link {
      // position: relative;
      display: inline-block;
      background-color: red;
      width: 32px;
      height: 32px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      transition: all 0.3s ease;
      cursor: pointer;
    }
  }
}

.filter-color-panel-input {
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
}

.filter-color-panel-link--selected {
  width: 34px;
  height: 34px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }
}

.filter-color-panel-link--selected-white {
  width: 34px;
  height: 34px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    border: 2px solid #000000;
  }
}

.color-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.reset-color-filters {
  padding: 7px;
  border-radius: 100px;
  background-color: #33333a;
  font-family: "OpenSans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
