@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  font-family: "OpenSans", sans-serif; }

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto; }

.d-flex {
  display: flex; }

.btn-add-to-cart {
  border: 0;
  border: none;
  background: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 15px;
  min-width: 270px;
  background-color: #33333a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  border: none; }
  .btn-add-to-cart::-moz-focus-inner {
    border: 0; }
  .btn-add-to-cart::-ms-expand {
    display: none; }
  .btn-add-to-cart:focus {
    outline: none; }

.main-header {
  border-bottom: 1px solid #cccccc; }

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0; }

.logo {
  width: 120px;
  height: 22px;
  margin-right: 41px; }

.main-menu-list {
  display: flex; }
  .main-menu-list .main-menu-item {
    margin-right: 54px;
    position: relative; }
    .main-menu-list .main-menu-item::after {
      content: url("../img/arrow.png");
      position: absolute;
      right: -20px; }
    .main-menu-list .main-menu-item:last-child {
      margin-right: 0px; }
    .main-menu-list .main-menu-item .main-menu-link {
      font-family: "OpenSans", sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #33333a;
      text-transform: uppercase; }

.arrow {
  width: 16px;
  height: 16px; }

.main-right {
  display: flex;
  justify-content: flex-end;
  /* max-width: 450px; */
  width: 60%; }

.main-search {
  max-width: 224px;
  width: 100%;
  opacity: 0.2;
  border-radius: 16px;
  background-color: #d8d8d8;
  padding: 4px 0 4px 19px;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #33333a;
  border: none;
  outline: none;
  margin-right: 25px; }

.location-person,
.account-person {
  margin-right: 21px; }

.sub-menu-wrapper {
  background-color: #fff; }

.sub-menu-wrapper-inner {
  display: flex;
  justify-content: space-between;
  padding: 24px 0; }

.sub-menu-left {
  display: flex;
  justify-content: space-between;
  width: 47%; }

.sub-menu-right {
  display: flex;
  justify-content: space-between;
  width: 47%; }

.sub-menu-left-title {
  font-family: "OpenSans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 24px; }

.sub-menu-category-item {
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative; }
  .sub-menu-category-item::before {
    position: absolute;
    left: -24px;
    content: url("../img/arrow-right.png"); }

.sub-menu-category-link {
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #33333a;
  text-transform: uppercase; }

.sub-menu-right-item {
  display: block;
  background-image: url(../img/featured.png);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  max-width: 263px;
  height: 290px; }

.sub-menu-right-img {
  width: 263px;
  height: 290px;
  opacity: 0.2; }

.sub-menu-right-title {
  width: 100%;
  position: absolute;
  top: 50%;
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff; }

.section-featured {
  padding-top: 50px;
  background-color: #fcfcfc; }

.featured-title {
  font-family: "OpenSans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #33333a;
  margin-bottom: 40px; }

.featured-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 480px) {
    .featured-list {
      width: 80%;
      justify-content: space-around;
      margin: 0 auto; } }

.featured-item {
  width: 263px;
  text-align: center;
  margin-bottom: 25px;
  display: block; }
  .featured-item:hover {
    box-shadow: 0px 0px 10px 10px #ccc;
    background-color: #ffffff; }

.featured-img {
  width: 100%;
  max-width: 263px; }

.featured-name {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  color: #33333a;
  padding: 12px 20px 5px;
  line-height: 1.38; }

.featured-price {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #33333a;
  padding-bottom: 15px; }

.shop-category {
  padding-top: 38px; }
  .shop-category .category-title {
    font-family: "OpenSans", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #33333a;
    margin-bottom: 28px; }
  .shop-category .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 992px) {
      .shop-category .category-list {
        width: 70%;
        margin: 0 auto; } }
  .shop-category .category-item {
    width: 263px;
    position: relative;
    margin-bottom: 10px; }
    .shop-category .category-item:hover .category-img {
      opacity: 0.4; }
    .shop-category .category-item:hover .category-link {
      display: block; }
  .shop-category .category-name {
    position: absolute;
    font-family: "OpenSans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #030303;
    padding: 13px 0;
    background-color: #fff;
    bottom: 60px;
    width: 100%; }
  .shop-category .category-link {
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #31363d;
    padding: 11px 50px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 38px;
    display: none; }

/***********************************************
*SECTION SUBSCRIBE
*************************************************/
.section-subscribe {
  padding: 65px 0; }

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 992px) {
    .subscribe {
      flex-direction: column; } }
  .subscribe-title {
    font-family: "OpenSans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #31363d;
    margin-right: 24px; }
    @media (max-width: 992px) {
      .subscribe-title {
        margin-right: 0;
        margin-bottom: 10px; } }
  .subscribe-description {
    width: 243px;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    line-height: 1.36;
    color: #31363d; }
    @media (max-width: 992px) {
      .subscribe-description {
        width: 100%;
        margin-bottom: 20px;
        text-align: center; } }
  .subscribe-form {
    display: flex;
    max-width: 658px;
    width: 100%; }
    @media (max-width: 480px) {
      .subscribe-form {
        flex-direction: column;
        margin-bottom: 10px; } }
  .subscribe-email {
    border: none;
    outline: none;
    max-width: 318px;
    width: 100%;
    border-radius: 22px;
    padding: 15px;
    background-color: #d8d8d8;
    margin-right: 39px; }
  .subscribe-btn {
    max-width: 300px;
    width: 100%;
    padding: 12px 0;
    border-radius: 100px;
    background-color: #33333a;
    font-family: "OpenSans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer; }

.main-footer {
  background-color: #33333a; }

.footer-list {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 134px;
  color: #ffffff; }
  @media (max-width: 992px) {
    .footer-list {
      flex-direction: column;
      align-items: center; } }

@media (max-width: 992px) {
  .footer-column {
    margin-bottom: 15px; } }

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 60%; }
  @media (max-width: 992px) {
    .footer-menu {
      margin-bottom: 15px; } }
  @media screen and (max-width: 480px) {
    .footer-menu {
      flex-direction: column;
      align-items: center; } }
  .footer-menu-column {
    width: 30%; }
    .footer-menu-column-title {
      font-family: "OpenSans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.67;
      margin-bottom: 20px; }

.footer-column-list .footer-column-item {
  margin-bottom: 10px; }

.footer-column-list .footer-column-link {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: #dedede; }

.footer-contacts-phone,
.footer-contacts-address {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: #dedede; }

.footer-contacts-address {
  margin-bottom: 27px; }

.footer-action-icon {
  text-align: center; }

.footer-action-item {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #b2b2b2;
  border-radius: 50%;
  color: #33333a;
  line-height: 1.7;
  margin-right: 10px; }

.breadcrumbs-section {
  background-color: #f3f3f3;
  padding: 17px 0 15px; }

.breadcrumbs-list {
  display: flex; }
  .breadcrumbs-list li::after {
    content: '•';
    font-size: 13px;
    margin: 0 10px; }
  .breadcrumbs-list li:last-child::after {
    content: none; }

.breadcrumbs-link {
  font-size: 12px;
  line-height: 40px;
  color: #33333a;
  text-transform: uppercase; }

.product-main {
  display: flex;
  margin: 48px 0 100px; }

.product-main-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-align: center; }

.product-title {
  font-size: 32px;
  line-height: 43px;
  color: #030303;
  font-weight: 700;
  margin-bottom: 6px; }

.product-meta {
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 17px; }

.product-price {
  font-size: 24px;
  line-height: 30px;
  color: #ff6008;
  font-weight: 700;
  margin-bottom: 18px; }

.product-filter {
  font-size: 12px;
  line-height: 40px;
  margin-bottom: 4px;
  color: #33333a; }

.product-colors {
  display: flex;
  justify-content: center;
  align-items: center; }
  .product-colors .color-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid transparent; }
    .product-colors .color-item.active {
      border: 2px solid blue; }
  .product-colors .red {
    background-color: #ff6008; }

.product-sizes {
  display: flex;
  justify-content: center; }
  .product-sizes .size-item {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f3f3f3;
    font-size: 14px;
    line-height: 20px;
    color: #515356;
    margin-right: 10px; }
    .product-sizes .size-item.active {
      border-color: #dedede;
      background-color: #f3f3f3; }

.all-photos {
  display: flex;
  flex-direction: column; }
  .all-photos-item {
    width: 68px;
    height: 68px;
    margin-bottom: 20px; }
    .all-photos-item.active {
      border: 2px solid #ff6008; }

.photo-main {
  width: 450px;
  height: 680px;
  margin: 0 30px; }
  .photo-main img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
