.basket-page {
  display: flex;
  align-items: flex-start;
  //height: 100vh;
  padding: 40px 0;
}

@media (max-width: 992px) {
  .basket-page {
    display: block;
  }
}

.basket-items-list {
  width: 60%;
}

@media (max-width: 992px) {
  .basket-items-list {
    width: auto;
  }
}

.basket-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid  #e5e5e5;
  padding: 20px 0;
}

@media (max-width: 992px) {
  .basket-item {
    flex-direction: column;
    position: relative;
  }
}

.basket-item-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.08);
  opacity: 0.54;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

@media (max-width: 992px) {
  .basket-item-delete {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.basket-item-img {
  width: 103px;
  height: 103px;
}

@media (max-width: 992px) {
  .basket-item-img {
    width: 50%;
    height: 200px;
    object-fit: cover;
  }
}

.basket-item-info {
  color: #333;
  font-size: 13px;
  line-height: 20px;
}

@media (max-width: 992px) {
  .basket-item-info {
    text-align: center;
    margin-top: 18px;
    line-height: 30px;
  }
}

.basket-item-title {
  color: #333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.basket-final-order {
  position: fixed;
  top: 160px;
  right: 100px;
  //margin-left: 48px;
  padding: 18px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #333;
}

@media (max-width: 992px) {
  .basket-final-order {
    margin-left: 0;
  }
}

.basket-final-order-title {
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 14px;
  border-bottom: 1px solid #f3f3f3;
}

.basket-final-order-info {
  margin: 9px 0 40px;
}

.basket-final-order-info li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket-final-order-info .title {
  font-size: 14px;
  line-height: 34px;
}

.basket-final-order-info .price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.product-counter {
  display: flex;
  align-items: center;
  border: 1px solid #dedede;
  min-width: 120px;
}

.product-counter-btn {
  border: 0;
  border: none;
  background: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: #f3f3f3;
  cursor: pointer;
  font-size: 36px;
  padding: 5px 18px;
}

.product-counter-btn::-moz-focus-inner {
  border: 0;
}

.product-counter-btn::-ms-expand {
  display: none;
}

.product-counter-btn:focus {
  outline: none;
}

.product-counter-value {
  padding: 5px 18px;
  background-color: #fff;
  font-size: 14px;
}

.product-counter-input-value {
  font-size: 18px;
  width: 70px;
  padding: 14px 0 14px 18px;
}

.basket-item-available {
  color: green;
  font-weight: bold;
}

.basket-item-notavailable {
  color: red;
  font-weight: bold;
}
