.modal-success-order {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;

  text-align: center;

  &-text {
    margin-bottom: 10px;

    &-number {
      font-size: 18px;
      font-weight: 600;
    }
  }
  
  &-btn {

    height: 40px;
    width: 100px;
    color: #fff;
    background-color: #33333a;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    
  }

}