.modal-success-order {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px 45px;
  text-align: center;

  @media screen and (max-width: 500px){
    min-width: auto;
    padding: 25px;
    width: 95%;
  }

  &-text {
    margin-bottom: 10px;

    &-number {
      font-size: 18px;
      font-weight: 600;
    }
  }
  
  &-btn {
    border: none;
    outline: none;
    min-height: 40px;
    min-width: 100px;
    color: #fff;
    background-color: #33333a;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;

    &:active,
    &:focus {
      outline: none;
    }
    
  }

  &-after-login {
    width: 500px;

    &-btn {

      height: 40px;
      width: 190px;
      color: #fff;
      background-color: #33333a;
      border-radius: 20px;
      cursor: pointer;
      font-size: 18px;
      text-transform: uppercase;

    }

  }

}