@import "../../scss/resources/resources";

.breadcrumbs {
  &-section {
    display: none;
    background-color: $grey-bg;
    padding: 17px 0 15px;

    @include min-width($landscape-tablet) {
      display: block;
    }
  }

  &-list {
    display: flex;

    li {
      &::after {
        content: '•';
        font-size: 13px;
        margin: 0 10px;
      }

      &:last-child::after {
        content: none;
      }
    }
  }

  &-link {
    font-size: 12px;
    line-height: 40px;
    color: $black;
    text-transform: uppercase;
  }
}

//
//.breadcrumbs-block {
//  padding: 67px 0;
//  background-color: #f3f3f3;
//
//  .breadcrumbs {
//    .breadcrumbs-row {
//      margin-bottom: 15px;
//
//      ul {
//        li {
//          display: inline-block;
//          margin-right: 20px;
//          position: relative;
//
//          &::after {
//            content: '';
//            position: absolute;
//            border-radius: 50%;
//            background-color: $black;
//            right: -12px;
//            top: 6px;
//            width: 3px;
//            height: 3px;
//          }
//
//          &:last-child::after{
//            content: none;
//          }
//
//          a {
//            font-family: $font-openSans;
//            font-size: 12px;
//            letter-spacing: 1px;
//            color: $black;
//            text-transform: uppercase;
//          }
//        }
//      }
//    }
//
//    .category-title-active {
//      h2 {
//        font-family: $font-openSans;
//        font-size: 40px;
//        font-weight: bold;
//        color: $black;
//      }
//    }
//  }
//}
