@import '../../../scss/resources/resources';

.login-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  width: 500px;
  font-size: 14px;
  border: 1px solid black;
  background-color: #fff;
  color: #030303;
  border-radius: 4px;
  @include max-width($landscape-mobile-big) {
    width: 95%;
  }

  &_header {
    position: relative;
    bottom: 6px;
    font-size: 32px;
    font-weight: bold;
  }
  &_form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-fields {
      display: block;
      width: 100%;
    }

    //.form-pass_par {
    //  width: 323px;
    //  height: 22px;
    //  font-size: 14px;
    //}
  }

  &-block {
    padding: 20px;
  }
}
.field-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.login-cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.08);
  margin: 15px 15px 0;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}


.login-menu_par {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #33333a;
  margin-top: 20px;
  margin-bottom: 15px;
}

.login-form-input-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  margin: 7px 0;
}

.login-form-input {
  width: 396px;
  height: 36px;
  margin: 5px 0 13px 0;
  padding-left: 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  outline: none;
  @include max-width($landscape-mobile-big) {
    width: 95%;
  }
}

.login-form_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 48px;
  border-radius: 25px;
  background-color: #33333a;
  border: 1px solid #33333a;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  outline: none;
}

.login-menu_error-msg {
  color: red;
  font-size: 16px;
}

.registration-area {
  width: 100%;
  background-color: #33333a;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.register_btn {
  background-color: #fff;
  color: #000;
}
