body {
  font-family: $font-openSans;
  position: relative;
  padding-bottom: 226px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.fw-bold{
  font-weight: 700;
}

.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1;
}
