$font-openSans: 'OpenSans', sans-serif;
$black: #33333a;
$grey-light: #d8d8d8;
$grey-bg: #f3f3f3;
$red: #ff6008;

$landscape-mobile-normal: 400px;
$landscape-mobile-big: 480px;
$landscape-tablet: 992px;
$landscape-desktop: 1200px;
