@import "../../../scss/resources/resources.scss";

.main-menu {
  &-list {
    display: flex;
    @include max-width($landscape-tablet) {
      justify-content: space-between;
      position: absolute;
      top: 64px;
      left: 0;
      right: 0;
      background: $grey-bg;
    }
  }

  &-item {
    margin-right: 54px;
    position: relative;

    @include max-width(992px) {
      margin-right: 0;
      width: calc(100% / 2);
      text-align: center;
    }

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: url("../../../img/arrow.png");
      position: absolute;
      right: -20px;

      @include max-width(992px) {
        display: none;
      }
    }
  }

  &-link {
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #33333a;
    text-transform: uppercase;
    transition: all 0.3s ease;
    @include max-width($landscape-tablet) {
      display: block;
      padding: 15px 20px;
    }
    &:hover {
      color: #ff6008;
    }
  }
}

.arrow {
  width: 16px;
  height: 16px;
}

.sub-menu-wrapper {
  background-color: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  top: 88px;
  border-bottom: 1px solid #ccc;
  z-index: 10000;

  @include max-width($landscape-tablet) {
    background-color: #eee;
  }
}

.sub-menu-wrapper-inner {
  @include flex-between;

  padding: 24px 0;

  @include max-width($landscape-tablet) {
    margin-top: 30px;
    background-color: #eee;
  }
}

.sub-menu-left {
  @include flex-between;

  width: 47%;

  @include max-width($landscape-tablet) {
    flex-direction: column;
    width: 100%;
  }
}

.sub-menu-right {
  @include flex-between;

  width: 47%;

  @include max-width($landscape-tablet) {
    display: none;
  }
}

.sub-menu-left-title {
  display: block;
  font-family: $font-openSans;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 24px;
  transition: all 0.3s ease;

  &:hover {
    color: #ff6008;
  }
}

.sub-menu-category-item {
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;

  &::before {
    position: absolute;
    left: -24px;
    content: url("../../../img/arrow-right.png");
  }
}

.sub-menu-category-link {
  font-family: $font-openSans;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  color: $black;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    color: #ff6008;
  }
}

.sub-menu-right-item {
  display: block;
  background-image: url("../../..//img/featured.png");
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  max-width: 263px;
  height: 290px;
}

.sub-menu-right-img {
  width: 263px;
  height: 290px;
  opacity: 0.2;
}

.sub-menu-right-title {
  width: 100%;
  position: absolute;
  top: 50%;
  font-family: $font-openSans;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.minipreloader {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 3px solid #888888;
  border-right-color: transparent;
  border-radius: 50%;
  animation: rotate 0.8s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
