@import '../../scss/resources/resources';

.empty-state{
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&-title{
		font-size: 40px;
		line-height: 60px;
		margin: 20px 0;
	}

	&-icon{
		color: $black;
		font-size: 80px;
		margin: 20px 0;
	}


}