@import "../../../scss/resources/resources";

.all-photos {
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  @media (max-width:680px) {
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    margin-top: 24px;
    margin-right: 0;
    order: 2;
  }

  &-item {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    cursor: pointer;

    img {
      @include image;
    }

    @media (max-width:680px) {
      margin-right: 12px;
    }

    &.active {
      border: 2px solid $red;
    }
  }
}

.photo-main {
  max-width: 450px;
  max-height: 680px;
  //margin: 0 30px;

  @media (max-width:680px) {
    width: 100%;
    //max-width: 450px;
    //height: 100vh;
    max-height: 680px;
    //opacity: 0.2;
    margin: 0 auto;
    order: 1;
  }

  .all-photos-item {
    @include image;
    margin: 0;

    img {
      object-fit: cover;
    }
  }
}