@import "../../scss/resources/resources";

.search-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-search {
  width: 204px;
  height: 26px;
  border-radius: 16px;
  background-color: #d8d8d8;
  padding: 4px 0 4px 19px;
  font-family: $font-openSans;
  font-size: 12px;
  letter-spacing: 1px;
  color: $black;
  border: none;
  outline: none;
  margin-right: 25px;
  transition: all 0.5s linear;

  @include max-width($landscape-tablet) {
    display: none;
  }
}

.non-valid-search {
  color: red;
  font-size: 11px;
  margin-top: 10px;
}
