@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-wrap-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin clear-default-inputs-style {
  border: 0;
  border: none;
  background: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &::-ms-expand {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

@mixin mobile-normal {
  // 401 - 480
  @media (min-width: #{$landscape-mobile-normal + 1}) and (max-width: #{$landscape-mobile-big}) {
    @content;
  }
}

@mixin tablet {
  // 481 - 992
  @media (min-width: #{$landscape-mobile-big + 1}) and (max-width: #{$landscape-tablet}) {
    @content;
  }
}

@mixin desktop {
  // 993 - ...
  @media (min-width: #{$landscape-tablet + 1}) {
    @content;
  }
}

@mixin min-width($width) {
  // for cases when elements dont change design after some resolution
  @media (min-width: $width) {
    @content;
  }
}

@mixin max-width($width) {
  // for cases when elements dont change design after some resolution
  @media (max-width: $width) {
    @content;
  }
}
